/* HERO IMPROVEMENT */
header {
    text-align: center;
    padding: 120px 20px;
    color: white;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

header button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.card p {
    font-weight: normal;
}

.card:hover {
    transform: scale(1.05);
}